* {
    box-sizing: border-box;
    border: solid 2px tomato;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
#welcome {
    padding: 70px 100px;
    text-align: center;

}
#welcome img {
    width: 100%;
}
#welcome p {
    width: 80%;
    margin: 50px auto;
}